
/*.login-page{	
	background-image: url("../img/fondo2.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}*/

.login-page{
	background-color: #000000;
}

.login-logo a{
	color: #000000;	
}

.radiotext {
    margin: 10px 10px 0px 0px;
}

.color-magical{
	background-color: #cbaa34 !important;
	color: #ffffff;
}

.timeline *{
	font-size: 12px;
}

.bg-amarillo{
	background: #F4D03F;
}